/* index.css or app.css */

body {
  background-image: url('/public/alien.png'); /* Path to your image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Container for the shortened URL */
.url-container {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background with transparency */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

/* Shortened URL text styling */
.shortened-url {
  color: #100f0e; /* Light yellow color for the URL to stand out */
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word; /* Ensures long URLs break properly */
  word-break: break-all;
  text-decoration: none; /* Remove underline */
}